#homeBtn{
       -fx-background-color: #f4c888;
       -fx-border-color: black;
       -fx-border-width: 4px;
       -fx-font-size: 22px;
       -fx-font-weight: bold;
       -fx-background-radius: 10px;
       -fx-border-radius: 10px;
       -fx-font-color: white;
}

#homeBtn:hover{
    -fx-background-color: #c3a06c;
}

#fdText{
    -fx-font-size: 25px;
    -fx-font-weight: 600;

}

#keyboardText{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#keyboardButton{
    -fx-background-color: #f4c888;
    /*-fx-background-color: #89c9b8;*/

    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#helpBtn{
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

#helpBtn:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}


#keyboardButton:hover{
    -fx-background-color: #c3a06c;
    -fx-border-color: black;
    -fx-font-weight: bold;
}

#futureValueField{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#historyLabel{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#tab{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#scrollPane{
   -fx-background-color: #9f002d;
}

#heading{
   -fx-font-size: 80px;
    -fx-font-weight: bold;
}

#subHeading{
   -fx-font-size: 50px;
    -fx-font-weight: bold;
}




#presentValueField{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}



#interestRateField{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#yearsField{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#backBtn{
    -fx-background-color: #2a7b9b;
    -fx-border-color: #2a7b9b;
    -fx-border-width: 1px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

#backBtn:hover{
    -fx-background-color: #21627c;
}

#simpleSavingBtn{
    -fx-background-color: #f75e50;
    -fx-border-color:     #f75e50;
    -fx-border-width: 1px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#simpleSavingBtn:hover{
    -fx-background-color: #c54b40;
}

#compoundSavingBtn{
    -fx-background-color: #eac761;
    -fx-border-color:     #eac761;
    -fx-border-width: 1px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#compoundSavingBtn:hover{
    -fx-background-color: #bb9f4d;
}

#loanBtn{
    -fx-background-color: #e8df9c;
    -fx-border-color:     #e8df9c;
    -fx-border-width: 1px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#loanBtn:hover{
    -fx-background-color: #b9b27c;
}

#mortgageBtn{
    -fx-background-color: #91c09e;
    -fx-border-color:     #91c09e;
    -fx-border-width: 1px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#mortgageBtn:hover{
    -fx-background-color: #74997e;
}

#historyBtn{
    -fx-background-color: #7d7769;
    -fx-border-color:     #7d7769;
    -fx-border-width: 1px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#historyBtn:hover{
    -fx-background-color: #645f54;
}

#readHead{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

#readText{
    -fx-font-size: 18px;
}

#historyHead{
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}